@model AuthortyListModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
	<script src="~/jquery/jquery/jquery.min.js"></script>

	<script src="~/jquery/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/jquery/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<main class="content d-flex flex-wrap justify-content-between">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Yetkili</strong> Görevliler Sayfası</h1>

		<div class="row">
			<div class="d-flex">
				<div class="w-100">
					<div class="row">

						<div class="card flex-fill col-12 " style="border-radius: 25px;	box-shadow: 0 0 0 4px white, 0 4px 4px black;overflow-y:hidden;">
																			
							<div class="row">
								<div class="card-header col-10">
									<h5 class="card-title mb-0">Görevliler</h5>
								</div>
								<div class="yetkili_btn col-2">

									<a style="color:white" id="myBtn">
										<strong>Yeni Görevli Ekle </strong>

									</a>
								</div>
							</div>

							<table class="table my-0 text-center">
								<thead>
									<tr>
										<th class="d-none d-md-table-cell">ID</th>
										<th>TC Kimlik</th>
										<th>AdSoyad</th>
										<th>Soyad</th>
										<th>Telefon</th>
										<th>Görev</th>
										<th class="d-none d-md-table-cell">Ekleyen ve tarihi</th>
										<th class="d-none d-md-table-cell">Değiştiren ve tarihi</th>
										<th>Aktiflik durumu</th>
										<th>Düzenle veya sil</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.Users)
									{
										<tr>
											<td>@item.Id</td>
											<td>@item.Tc</td>
											<td>@item.Name</td>
											<td>@item.SurName</td>
											<td>@item.PhoneNumber</td>
											<td><a href="/Authority/AssignRole/@item.Id">Görev Ata</a></td>
											<td>İsim-@item.CreatedDate</td>
											<td>İsim-@item.UpdatedDate</td>

											@if (item.Condition == true)
											{
												<td><span class="badge bg-success">Aktif</span></td>
											}
											else
											{
												<td><span class="badge bg-danger">Pasif</span></td>
											}
											<td>
												<a href="/Authority/Detail/@item.Id"><button class="btn"><i data-feather="edit" style="color:royalblue"></i></button></a>
												<form asp-controller="Authority" asp-action="Delete" method="post" style="display:inline">
													<input type="hidden" name="Id" value="@item.Id" />
													<button class="btn" type="submit" style=""><i data-feather="trash-2" style="color: red;"></i></button>
												</form>
											</td>
										</tr>
									}
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    @await Component.InvokeAsync("AuthorityForm")
</main>

